.menu{
    display: flex;

}
.logo{
    display: flex;
}
.caja{
    display: flex;
}
.botones{
    display: flex;
}
.final1{
    display: flex;
}
.final2{
    display: flex;
}
.final2-uno{
    display: flex;
}
.final2-dos{
    display: flex;
}